courseinformation/node_modules/*
part1/node_modules/*
unicafe/node_modules/*
part2/part2/node_modules/*
part3/part3/node_modules/*
part3/phonebook-backend/node_modules/*
part3/phonebook-frontend/node_modules/*
